* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import "components/font";
@import "components/color";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px !important;
  line-height: 26px;
  margin: 0;
  font-family: $r-regular;
  color: $black;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

@import "components/header";
@import "components/home";
@import "components/investment";
@import "components/procurement";
@import "components/projects";
@import "components/news";
@import "components/events";
@import "components/gad";
@import "components/career";
@import "components/download";
@import "components/faqs";
@import "components/citizen";
@import "components/gallery";
@import "components/csr";
@import "components/about";
@import "components/contact";
@import "components/privacy";
@import "components/feedback";
@import "components/terms";
@import "components/governance";
@import "components/footer";

@media screen and (max-width: 749px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }
}
