.homebanner {
  padding-top: 210px;
  &__bg {
    background-image: url(../img/home/fv_banner.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 729px;
    display: flex;
    align-items: center;
  }
  &__container {
    max-width: 1632px;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__title {
    h2 {
      font-size: 64px;
      color: $white;
      font-family: $r-medium;
      line-height: 1.5;
      font-weight: 500;
    }
  }
}

.homenews {
  padding-top: 60px;
  &__container {
    max-width: 1632px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    gap: 35px;
  }
  &__content {
    flex-basis: 70%;
    &--title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3 {
        font-family: $r-light;
        font-size: 48px;
        color: $blue;
        font-weight: 100;
        margin: 0;
      }
    }
    &--viewmore {
      a {
        padding-right: 45px;
        font-size: 20px;
        font-family: $r-light;
        color: $blue;
        display: block;
        position: relative;
        &:hover {
          text-decoration: none;
          transition: 0.3s ease;
          &::after {
            right: 0px;
            transition: 0.3s ease;
          }
        }

        &::after {
          position: absolute;
          right: 10px;
          top: 0;
          content: url(../img/icon/ic_two_arrow.svg);
          transition: 0.3s ease;
        }
      }
    }
    &--body {
      margin-top: 45px;
      display: flex;
      //   align-items: center;
      justify-content: space-between;
      border: 1px solid #f0f0f0;
    }
    &--img {
      flex-basis: 45%;
      img {
        display: block;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 340px;
      }
    }
    &--desc {
      padding-top: 50px;
      flex-basis: 55%;
      position: relative;
      .title {
        padding-left: 40px;
        color: $blue;
        font-size: 22px;
        font-family: $r-light;
        padding-right: 20px;
      }
      .desc {
        padding-left: 40px;
        color: $gray;
        font-size: 15px;
        font-family: $i-regular;
        letter-spacing: 1px;
        padding-right: 20px;
      }
      .viewmore-btn {
        border-top: 1px solid #f0f0f0;
        padding-left: 40px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        left: 0px;
        height: 70px;
        display: flex;
        align-items: center;

        .viewmore {
          width: 100%;
          padding-right: 24px;
          font-size: 16px;
          font-family: $r-light;
          color: $blue;
          display: block;
          position: relative;
          max-width: 130px;
          &:hover {
            text-decoration: none;
            transition: 0.3s ease;
            &::after {
              right: 0px;
              transition: 0.3s ease;
            }
          }

          &::after {
            position: absolute;
            right: 10px;
            top: 0;
            content: url(../img/icon/ic_two_arrow.svg);
            transition: 0.3s ease;
          }
        }
      }
    }
  }
  &__about {
    flex-basis: 30%;
    padding-top: 108px;
    &--desc {
      border: 1px solid #f0f0f0;
      padding: 30px;
      p {
        font-family: $r-light;
        color: #4d4d4d;
        font-size: 15px;
        span {
          font-family: $r-medium;
        }
      }
    }
    &--readmore {
      .viewmore {
        width: 100%;
        padding-right: 24px;
        font-size: 16px;
        font-family: $r-light;
        color: $blue;
        display: block;
        position: relative;
        max-width: 130px;
        &:hover {
          text-decoration: none;
          transition: 0.3s ease;
          &::after {
            right: 0px;
            transition: 0.3s ease;
          }
        }

        &::after {
          position: absolute;
          right: 10px;
          top: 0;
          content: url(../img/icon/ic_two_arrow.svg);
          transition: 0.3s ease;
        }
      }
    }
    &--morelink {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      border: 1px solid #f0f0f0;
      padding: 30px;
      font-size: 24px;
      color: $black !important;
      font-family: $r-medium;
      transition: 0.3s ease;
      &:hover {
        transition: 0.3s ease;
        background-color: $blue;
        color: $white !important;
        text-decoration: none;
      }
    }
    &--logos {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 2fr 2fr 2fr;
      gap: 15px;
    }
    &--logo {
      height: 156px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #f0f0f0;
      background-color: #fffcfc;
      img {
        display: block;
        align-items: center;
        width: 70%;
        margin: 0 auto;
      }
    }
  }
}

.homelocators {
  padding-top: 90px;
  &__bg {
    background-image: url(../img/zonelocators_bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 552px;
    padding-top: 45px;
    padding-bottom: 45px;
    max-width: 1632px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__container {
    max-width: 1138px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__title {
    p {
      font-size: 48px;
      line-height: 1.5;
      font-family: $r-light;
      color: $white;
      text-align: center;
    }
  }
  &__row {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;

    &--item {
      width: 300px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 100%;
      padding: 10px;
      color: $white !important;

      &:hover {
        text-decoration: none;
        transition: 0.3s ease;
      }
      &:nth-child(1) {
        border: 10px solid $white;
        background-color: #1a7dc3;
      }
      &:nth-child(2) {
        border: 10px solid $white;
        background-color: #125c90;
      }
      &:nth-child(3) {
        border: 10px solid #125c90;
        background-color: $white;
        color: $blue !important;
      }
      p {
        text-align: center;
        margin: 0;
        font-size: 24px;
        line-height: 30px;
        font-family: $r-regular;
        text-transform: uppercase;
      }

      span {
        padding-top: 20px;
        text-align: center;
        display: block;
        font-size: 20px;
        line-height: 25px;
        font-family: $r-light;
      }
    }
  }
}

.homegallery {
  padding-top: 90px;
  padding-bottom: 60px;
  &__container {
    max-width: 1632px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-family: $r-light;
      font-size: 48px;
      color: $blue;
      font-weight: 100;
      margin: 0;
    }
  }
  &__viewmore {
    a {
      padding-right: 45px;
      font-size: 20px;
      font-family: $r-light;
      color: $blue;
      display: block;
      position: relative;
      &:hover {
        text-decoration: none;
        transition: 0.3s ease;
        &::after {
          right: 0px;
          transition: 0.3s ease;
        }
      }

      &::after {
        position: absolute;
        right: 10px;
        top: 0;
        content: url(../img/icon/ic_two_arrow.svg);
        transition: 0.3s ease;
      }
    }
  }
  &__row {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
  }
  &__item {
    position: relative;
    transition: 0.3s ease;
    overflow: hidden;
    &:hover {
      transition: 0.3s ease;
      text-decoration: none;
      .homegallery__item--title {
        transition: 0.3s ease;
        opacity: 1;
        bottom: 0;
      }
    }
    &.large {
      flex-basis: 65.5%;
    }
    &.small {
      flex-basis: 31.5%;
    }
    &--img {
      img {
        display: block;
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 285px;
      }
    }
    &--title {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -20px;
      height: 68px;
      width: 100%;
      background-color: $blue;
      display: flex;
      align-items: center;
      padding-left: 20px;
      opacity: 0;
      transition: 0.3s ease;

      p {
        font-size: 22px;
        color: $white;
        font-family: $r-regular;
        margin: 0;
      }
    }
  }
}

.homeevents {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
  &__container {
    max-width: 1632px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-family: $r-light;
      font-size: 48px;
      color: $blue;
      font-weight: 100;
      margin: 0;
    }
  }
  &__viewmore {
    a {
      padding-right: 45px;
      font-size: 20px;
      font-family: $r-light;
      color: $blue;
      display: block;
      position: relative;
      &:hover {
        text-decoration: none;
        transition: 0.3s ease;
        &::after {
          right: 0px;
          transition: 0.3s ease;
        }
      }

      &::after {
        position: absolute;
        right: 10px;
        top: 0;
        content: url(../img/icon/ic_two_arrow.svg);
        transition: 0.3s ease;
      }
    }
  }
  &__row {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
  }
  &__items {
    background-color: $white;
    border: 1px solid #d9d9d9;
    padding-top: 45px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    &--img {
      img {
        object-fit: cover;
        object-position: top;
        height: 242px;
        width: 100%;
      }
    }
    &--title {
      padding-top: 20px;
      h3 {
        font-weight: 400;
        font-family: $r-regular;
        color: $black;
        font-size: 25px;
      }
    }
    &--desc {
      padding-top: 10px;
      p {
        font-size: 15px;
        font-family: $r-light;
        color: $gray;
        line-height: 1.4;
      }
    }
    &--viewmore {
      padding-top: 20px;
      max-width: 130px;
      a {
        padding-right: 25px;
        font-size: 16px;
        font-family: $r-light;
        color: $blue;
        display: block;
        position: relative;
        &:hover {
          text-decoration: none;
          transition: 0.3s ease;
          &::after {
            right: 0px;
            transition: 0.3s ease;
          }
        }

        &::after {
          position: absolute;
          right: 10px;
          top: 0;
          content: url(../img/icon/ic_two_arrow.svg);
          transition: 0.3s ease;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1450px) {
  .homebanner {
    padding-top: 190px;
    &__bg {
      height: 600px;
    }
    &__container {
      max-width: 1300px;
    }
    &__title {
      h2 {
        font-size: 55px;
      }
    }
  }

  .homenews {
    padding-top: 60px;
    &__container {
      max-width: 1300px;
    }
    &__row {
      gap: 35px;
    }
    &__content {
      &--title {
        h3 {
          font-size: 39px;
        }
      }
      &--viewmore {
        a {
          font-size: 18px;
        }
      }
      &--body {
        margin-top: 30px;
      }
      &--img {
        flex-basis: 45%;
        img {
          width: 100%;
          height: 280px;
        }
      }
      &--desc {
        padding-top: 30px;
        .title {
          padding-left: 30px;
          font-size: 20px;
          padding-right: 15px;
        }
        .desc {
          padding-left: 30px;
          font-size: 14px;
          padding-right: 15px;
        }
        .viewmore-btn {
          padding-left: 30px;

          height: 50px;

          .viewmore {
            padding-right: 18px;
            font-size: 14px;
            max-width: 115px;

            &::after {
              transform: scale(0.9);
            }
          }
        }
      }
    }
    &__about {
      padding-top: 80px;
      &--desc {
        padding: 20px;
        p {
          font-size: 14px;
          margin: 0;
        }
      }
      &--readmore {
        padding-top: 10px;
        .viewmore {
          padding-right: 18px;
          font-size: 14px;
          max-width: 115px;

          &::after {
            transform: scale(0.9);
          }
        }
      }
      &--morelink {
        margin-top: 15px;
        padding: 20px;
        font-size: 20px;
        &:hover {
          text-decoration: none;
        }
      }
      &--logos {
        margin-top: 15px;
      }
      &--logo {
        height: 120px;

        img {
          width: 65%;
        }
      }
    }
  }
  .homelocators {
    padding-top: 60px;
    &__bg {
      height: 452px;
      padding-top: 35px;
      padding-bottom: 35px;
      max-width: 1300px;
    }
    &__container {
      max-width: 1000px;
    }
    &__title {
      p {
        font-size: 38px;
        line-height: 1.5;
      }
    }
    &__row {
      padding-top: 20px;
      gap: 80px;

      &--item {
        width: 250px;
        height: 250px;
        padding: 10px;

        p {
          font-size: 20px;
          line-height: 27px;
        }

        span {
          padding-top: 17px;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
  .homegallery {
    padding-top: 60px;
    padding-bottom: 60px;
    &__container {
      max-width: 1300px;
    }
    &__title {
      h3 {
        font-size: 39px;
      }
    }
    &__viewmore {
      a {
        padding-right: 45px;
        font-size: 18px;
      }
    }
    &__row {
      padding-top: 20px;
      gap: 20px;
    }
    &__item {
      &.large {
        flex-basis: 66%;
      }
      &.small {
        flex-basis: 32%;
      }
      &--img {
        img {
          height: 245px;
        }
      }
      &--title {
        height: 52px;

        p {
          font-size: 18px;
        }
      }
    }
  }
  .homeevents {
    &__container {
      max-width: 1300px;
    }
    &__title {
      h3 {
        font-size: 39px;
      }
    }
    &__viewmore {
      a {
        font-size: 18px;
      }
    }
    &__row {
      padding-top: 20px;
      gap: 18px;
    }
    &__items {
      padding-top: 38px;
      padding-bottom: 26px;
      padding-left: 26px;
      padding-right: 26px;
      &--img {
        img {
          height: 216px;
        }
      }
      &--title {
        padding-top: 10px;
        h3 {
          font-size: 20px;
        }
      }
      &--desc {
        padding-top: 5px;
        p {
          font-size: 14px;
        }
      }
      &--viewmore {
        padding-top: 10px;
        max-width: 115px;
        a {
          padding-right: 18px;
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .homebanner {
    padding-top: 190px;
    &__bg {
      height: 450px;
    }
    &__container {
      max-width: 1024px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__title {
      h2 {
        font-size: 44px;
        line-height: 1.2;
      }
    }
  }

  .homenews {
    padding-top: 60px;
    &__container {
      max-width: 1024px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__row {
      gap: 20px;
    }
    &__content {
      flex-basis: 70%;
      &--title {
        h3 {
          font-size: 38px;
        }
      }
      &--viewmore {
        a {
          padding-right: 35px;
          font-size: 18px;
        }
      }
      &--body {
        margin-top: 35px;
      }
      &--img {
        flex-basis: 45%;
        img {
          object-position: top;
          height: 280px;
        }
      }
      &--desc {
        padding-top: 30px;
        .title {
          padding-left: 30px;
          font-size: 18px;
          padding-right: 10px;
        }
        .desc {
          padding-left: 30px;
          font-size: 14px;
          line-height: 1.2;
          padding-right: 10px;
        }
        .viewmore-btn {
          padding-left: 30px;
          height: 70px;

          .viewmore {
            width: 100%;
            padding-right: 24px;
            font-size: 14px;
            max-width: 120px;
          }
        }
      }
    }
    &__about {
      padding-top: 85px;
      &--desc {
        padding: 20px;
        p {
          font-size: 14px;
          line-height: 1.5;
          margin: 0;
        }
      }
      &--readmore {
        padding-top: 10px;
        .viewmore {
          padding-right: 20px;
          font-size: 14px;
          max-width: 110px;
        }
      }
      &--morelink {
        margin-top: 10px;
        padding: 20px;
        font-size: 20px;
      }
      &--logos {
        margin-top: 10px;
        gap: 10px;
      }
      &--logo {
        height: 120px;
        img {
          width: 60%;
        }
      }
    }
  }

  .homelocators {
    padding-top: 50px;
    &__bg {
      height: 430px;
      padding-top: 35px;
      padding-bottom: 35px;
      max-width: 1024px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__container {
      padding-left: 20px;
      padding-right: 20px;
    }
    &__title {
      p {
        font-size: 36px;
        line-height: 1.5;
      }
    }
    &__row {
      padding-top: 20px;
      gap: 50px;

      &--item {
        width: 240px;
        height: 240px;

        p {
          font-size: 20px;
          line-height: 27px;
        }

        span {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  .homegallery {
    padding-top: 50px;
    padding-bottom: 30px;
    &__container {
      max-width: 1024px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__title {
      h3 {
        font-size: 38px;
      }
    }
    &__viewmore {
      a {
        padding-right: 35px;
        font-size: 18px;
      }
    }
    &__row {
      padding-top: 20px;
      gap: 30px;
    }
    &__item {
      &.large {
        flex-basis: 100%;
      }
      &.small {
        flex-basis: 48%;
      }
      &--img {
        img {
          height: 255px;
        }
      }
      &--title {
        height: 58px;

        p {
          font-size: 18px;
        }
      }
    }
  }

  .homeevents {
    padding-top: 40px;
    padding-bottom: 40px;
    &__container {
      max-width: 1024px;
      margin: 0 auto;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__title {
      h3 {
        font-size: 38px;
      }
    }
    &__viewmore {
      a {
        padding-right: 35px;
        font-size: 18px;
      }
    }
    &__row {
      padding-top: 20px;
      gap: 18px;
      align-items: stretch;
    }
    &__items {
      padding-top: 35px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      &--img {
        img {
          height: 200px;
        }
      }
      &--title {
        padding-top: 20px;
        h3 {
          font-size: 20px;
        }
      }
      &--desc {
        padding-top: 10px;
        p {
          font-size: 14px;
        }
      }
      &--viewmore {
        max-width: 120px;
        a {
          padding-right: 25px;
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (min-width: 750px) and (max-width: 1023px) {
  .homebanner {
    &__bg {
      height: 400px;
    }
    &__container {
      max-width: 750px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__title {
      h2 {
        font-size: 38px;
        line-height: 1.5;
      }
    }
  }

  .homenews {
    padding-top: 30px;
    &__container {
      max-width: 750px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__row {
      flex-wrap: wrap;
      gap: 35px;
    }
    &__content {
      flex-basis: 100%;
      &--title {
        h3 {
          font-size: 38px;
        }
      }
      &--viewmore {
        a {
          padding-right: 45px;
          font-size: 16px;
        }
      }
      &--body {
        margin-top: 45px;
        display: flex;
        //   align-items: center;
        justify-content: space-between;
        border: 1px solid #f0f0f0;
      }
      &--img {
        flex-basis: 45%;
        img {
          object-position: top;
          height: 290px;
        }
      }
      &--desc {
        padding-top: 20px;
        flex-basis: 55%;
        position: relative;
        .title {
          padding-left: 20px;
          font-size: 18px;
        }
        .desc {
          padding-left: 20px;
          font-size: 14px;
          line-height: 1.4;
        }
        .viewmore-btn {
          padding-left: 20px;
          height: 50px;

          .viewmore {
            width: 100%;
            padding-right: 24px;
            font-size: 14px;
            max-width: 100px;
          }
        }
      }
    }
    &__about {
      flex-basis: 100%;
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &--desc {
        flex-basis: 100%;
        border: 1px solid #f0f0f0;
        padding: 30px;
      }
      &--readmore {
        .viewmore {
          font-size: 14px;
          max-width: 110px;
        }
      }
      &--morelink-area {
        flex-basis: 48%;
      }
      &--morelink {
        font-size: 18px;
        text-align: center;
      }
      &--logos {
        flex-basis: 48%;
        gap: 10px;
      }
      &--logo {
        height: 130px;
        img {
          width: 50%;
        }
      }
    }
  }

  .homelocators {
    padding-top: 70px;
    &__bg {
      height: 420px;
      padding-top: 45px;
      padding-bottom: 45px;
      max-width: 750px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__container {
      max-width: 750px;
    }
    &__title {
      p {
        font-size: 38px;
      }
    }
    &__row {
      padding-top: 20px;
      gap: 30px;

      &--item {
        width: 200px;
        height: 200px;

        &:nth-child(1) {
          border: 7px solid $white;
        }
        &:nth-child(2) {
          border: 7px solid $white;
        }
        &:nth-child(3) {
          border: 7px solid #125c90;
        }
        p {
          font-size: 18px;
          line-height: 25px;
        }

        span {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }

  .homegallery {
    padding-top: 50px;
    padding-bottom: 40px;
    &__container {
      max-width: 750px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__title {
      h3 {
        font-size: 38px;
      }
    }
    &__viewmore {
      a {
        padding-right: 45px;
        font-size: 16px;
      }
    }
    &__row {
      padding-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
    }
    &__item {
      &.large {
        flex-basis: 100%;
      }
      &.small {
        flex-basis: 48%;
      }
      &--img {
        img {
          height: 230px;
        }
      }
      &--title {
        height: 55px;

        p {
          font-size: 18px;
          line-height: 27px;
        }
      }
    }
  }

  .homeevents {
    padding-top: 40px;
    padding-bottom: 40px;
    &__container {
      max-width: 750px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__title {
      h3 {
        font-size: 38px;
      }
    }
    &__viewmore {
      a {
        font-size: 16px;
      }
    }
    &__row {
      padding-top: 20px;
      gap: 16px;
      align-items: stretch;
    }
    &__items {
      padding-top: 35px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      &--img {
        img {
          height: 200px;
        }
      }
      &--title {
        padding-top: 20px;
        h3 {
          font-size: 18px;
        }
      }
      &--desc {
        padding-top: 10px;
        p {
          font-size: 14px;
        }
      }
      &--viewmore {
        padding-top: 20px;
        max-width: 100px;
        a {
          padding-right: 20px;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 749px) {
  .homebanner {
    padding-top: 105px;
    &__bg {
      height: 400px;
    }
    &__container {
      max-width: 380px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__title {
      h2 {
        font-size: 27px;
        line-height: 1.2;
      }
    }
  }

  .homenews {
    padding-top: 30px;
    &__container {
      max-width: 380px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__row {
      flex-wrap: wrap;
      gap: 35px;
    }
    &__content {
      order: 2;
      flex-basis: 100%;
      &--title {
        h3 {
          font-size: 24px;
        }
      }
      &--viewmore {
        a {
          padding-right: 38px;
          font-size: 12px;
          &::after {
            transform: scale(0.6);
          }
        }
      }
      &--body {
        margin-top: 45px;
        display: flex;
        //   align-items: center;
        justify-content: space-between;
        border: 1px solid #f0f0f0;
        flex-wrap: wrap;
      }
      &--img {
        flex-basis: 100%;
        img {
          object-position: top;
          height: 230px;
        }
      }
      &--desc {
        padding-top: 20px;
        flex-basis: 100%;
        position: relative;
        .title {
          padding-left: 10px;
          font-size: 16px;
        }
        .desc {
          padding-left: 10px;
          font-size: 14px;
          line-height: 1.4;
        }
        .viewmore-btn {
          padding-left: 10px;
          height: 50px;
          background-color: $white;

          .viewmore {
            width: 100%;
            padding-right: 24px;
            font-size: 14px;
            max-width: 100px;
          }
        }
      }
    }
    &__about {
      order: 1;
      flex-basis: 100%;
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &--desc {
        flex-basis: 100%;
        border: 1px solid #f0f0f0;
        padding: 30px;
      }
      &--readmore {
        .viewmore {
          font-size: 14px;
          max-width: 110px;
        }
      }
      &--morelink-area {
        flex-basis: 100%;
      }
      &--morelink {
        margin-top: 10px;
        font-size: 18px;
        text-align: center;
      }
      &--logos {
        flex-basis: 100%;
        gap: 10px;
      }
      &--logo {
        height: 130px;
        img {
          width: 50%;
        }
      }
    }
  }

  .homelocators {
    padding-top: 30px;
    &__bg {
      height: auto;
      padding-top: 45px;
      padding-bottom: 45px;
      max-width: 750px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__container {
      max-width: 380px;
    }
    &__title {
      p {
        font-size: 28px;
      }
    }
    &__row {
      padding-top: 20px;
      gap: 30px;
      flex-wrap: wrap;
      &--item {
        width: 200px;
        height: 200px;

        &:nth-child(1) {
          border: 7px solid $white;
        }
        &:nth-child(2) {
          border: 7px solid $white;
        }
        &:nth-child(3) {
          border: 7px solid #125c90;
        }
        p {
          font-size: 18px;
          line-height: 25px;
        }

        span {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }

  .homegallery {
    padding-top: 50px;
    padding-bottom: 40px;
    &__container {
      max-width: 380px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__title {
      h3 {
        font-size: 24px;
      }
    }
    &__viewmore {
      a {
        padding-right: 38px;
        font-size: 12px;
        &::after {
          transform: scale(0.6);
        }
      }
    }
    &__row {
      padding-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
    }
    &__item {
      &.large {
        flex-basis: 100%;
      }
      &.small {
        flex-basis: 100%;
      }
      &--img {
        img {
          height: 230px;
        }
      }
      &--title {
        height: 55px;

        p {
          font-size: 18px;
          line-height: 27px;
        }
      }
    }
  }

  .homeevents {
    padding-top: 40px;
    padding-bottom: 40px;
    &__container {
      max-width: 380px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__title {
      h3 {
        font-size: 24px;
      }
    }
    &__viewmore {
      a {
        padding-right: 38px;
        font-size: 12px;
        &::after {
          transform: scale(0.6);
        }
      }
    }
    &__row {
      padding-top: 20px;
      gap: 16px;
      align-items: stretch;
      flex-wrap: wrap;
    }
    &__items {
      padding-top: 35px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      &--img {
        img {
          height: 200px;
        }
      }
      &--title {
        padding-top: 20px;
        h3 {
          font-size: 18px;
        }
      }
      &--desc {
        padding-top: 10px;
        p {
          font-size: 14px;
        }
      }
      &--viewmore {
        padding-top: 20px;
        max-width: 100px;
        a {
          padding-right: 20px;
          font-size: 14px;
        }
      }
    }
  }
}
