.investment {
  padding-top: 210px;
  padding-bottom: 30px;
  &__container {
    width: 100%;
    max-width: 1632px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__banner {
    background-image: url(../img/investment/fv_banner.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 355px;
    display: flex;
    align-items: center;

    &--title {
      h2 {
        font-size: 48px;
        font-family: $r-medium;
        font-weight: 500;
        color: $white;
      }
    }
  }

  &__tab {
    padding-top: 60px;
    [data-tab-content] {
      display: none;
    }

    .active[data-tab-content] {
      display: block;
    }
    &--btn {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid $blue;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        background-color: #f0f0f0;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 60px;
        cursor: pointer;
        color: $blue;
        font-family: $r-regular;
        font-size: 20px;
        &.active {
          background-color: $blue;
          color: $white;
        }
      }
    }
    &--content {
      padding-top: 60px;
    }
    &--title {
      h3 {
        font-weight: 100;
        font-family: $r-light;
        font-size: 48px;
        color: $blue;
      }
      p {
        font-weight: 100;
        font-family: $r-light;
        font-size: 18px;
        color: $black;
      }
    }
    &--gallery {
      padding-top: 20px;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(6, 5vw);
      grid-gap: 15px;
      &--item {
        position: relative;
        .img-icon {
          position: absolute;
          bottom: 20px;
          right: 20px;
          img {
            width: 55px;
            display: block;
          }
        }
        &:nth-child(1) {
          grid-column-start: 1;
          grid-column-end: 5;
          grid-row-start: 1;
          grid-row-end: 7;
        }
        &:nth-child(2) {
          grid-column-start: 5;
          grid-column-end: 7;
          grid-row-start: 1;
          grid-row-end: 4;
        }
        &:nth-child(3) {
          grid-column-start: 7;
          grid-column-end: 9;
          grid-row-start: 1;
          grid-row-end: 4;
        }
        &:nth-child(4) {
          grid-column-start: 5;
          grid-column-end: 7;
          grid-row-start: 4;
          grid-row-end: 7;
        }
        &:nth-child(5) {
          grid-column-start: 7;
          grid-column-end: 9;
          grid-row-start: 4;
          grid-row-end: 7;
        }
      }
      figure {
        margin: 0 !important;
        .seemore {
          display: none;
        }
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
      .tap4 {
        position: relative;
        cursor: pointer;
        .img-icon {
          display: none;
        }
        .seemore {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $white;
          z-index: 2;
          font-size: 20px;
          font-family: $r-medium;
          text-align: center;
        }
        &::after {
          background-color: $black;
          opacity: 0.7;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          content: "";
          z-index: 1;
        }
        a {
          pointer-events: none;
        }
      }
    }
    .bottom-text {
      padding-top: 40px;
      p {
        font-weight: 100;
        font-family: $r-light;
        font-size: 18px;
        color: $black;
      }
    }
    &--others {
      padding-top: 30px;
      .others {
        &__list {
          font-size: 18px;
          line-height: 30px;
          color: $black;
          font-family: $r-light;
        }
      }
    }
  }
  .popup {
    &.open {
      display: block;
      transition: 0.3s;
    }
  }
  &__gallery {
    position: fixed;
    z-index: 101;
    padding-top: 80px;
    padding-top: 80px;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.51);
    transition: 0.3s ease;

    &--container {
      background-color: #fefefe;
      margin: auto;
      padding: 0px 20px 20px;
      border: 1px solid #888;
      width: 85%;
      height: 800px;
      overflow-y: auto;
    }
    &--title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      width: 83%;
      background-color: $white;
      h3 {
        font-weight: 100;
        font-family: $r-light;
        font-size: 38px;
        color: $blue;
      }
      .close {
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 20px;
        width: 20px;
        height: 20px;
      }
    }
    &--row {
      padding-top: 96px;
      display: grid;
      grid-template-columns: 2fr 2fr 2fr;
    }
    &--item {
      img {
        object-fit: cover;
        object-position: top;
        height: 350px;
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1450px) {
  .investment {
    padding-top: 190px;
    padding-bottom: 30px;
    &__container {
      max-width: 1300px;
    }
    &__banner {
      height: 280px;

      &--title {
        h2 {
          font-size: 38px;
        }
      }
    }

    &__tab {
      padding-top: 40px;
      [data-tab-content] {
        display: none;
      }

      .active[data-tab-content] {
        display: block;
      }
      &--btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid $blue;
        margin: 0;
        padding: 0;

        li {
          font-size: 16px;
        }
      }
      &--content {
        padding-top: 40px;
      }
      &--title {
        h3 {
          font-size: 38px;
        }
        p {
          font-size: 16px;
        }
      }

      .bottom-text {
        padding-top: 40px;
        p {
          font-size: 16px;
        }
      }
      &--others {
        padding-top: 20px;
        .others {
          &__list {
            font-size: 16px;
          }
        }
      }
    }
    &__gallery {
      &--container {
        height: 650px;
      }
    }
  }
}
